django==4.0
djangorestframework==3.12.4
django-filter==2.4.0
django-import-export==3.0
pytz==2022.6
psycopg2-binary==2.9.1
django-cors-headers
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0